body {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: blueviolet;
}

form {
    list-style: none;
    text-align: center;
    font-size: 22px;
    margin-top: 4%;
}

li {
    color: blueviolet;
    padding: 5px;
}

li input {
    padding: 2px 5px;
    font-size: 18px;
    
}

#operator {
    font-size: 18px;
    margin-top: 5px;
}

button {
    margin-top: 2%;
    font-size: 22px;
    color: blueviolet;
    padding: 8px 10px;
}

button:hover {
    color:blue;
}

p {
    text-align:center;
    font-size: 36px;
    color: blueviolet;
    margin-top: 4%;
    
}

#result {
    text-align: center;
    margin-top: 4%;
    font-size: 50px;

    
    
}